@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.img{
    width: 500px;
    height: 500px;
}

img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    background-color:  rgb(178, 102, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    display: flex;
}

.login{
    width: 500px;
    height: 500px;
    background-color: rgba(229, 204, 255, 0.4);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.login h2{
    font-size: 2.5rem;
    align-self: flex-start;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
}

.login label{
    font-size: 1.4rem;
    font-weight: 650;
    color: white;
    margin-bottom: 0.5rem;
}

.login input{
    margin-bottom: 2.5rem;
    height: 2.5rem;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    transition: all 30ms ease;
}

.login input:hover{
    border-bottom: 1px solid pink;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 2rem;
    transition: all 30ms ease;
}

.links a:hover{
    color:purple;
}

.login button{
    margin-bottom: 0.5rem;
    height: 4rem;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 4px;
}

span{
    margin-left: 2rem;
}

.btn{
    background-color: rgba(0, 0, 175, 0.5);
    transition: all 500ms ease-in-out;
}

.btn:hover{
    background-color: rgba(0, 0, 175, 0.3);
}

.facebook{
    background-color: #3b5998;
    transition: all 500ms ease-in-out;
}

.facebook:hover{
    background-color: #4d6fb9;
}

.instagram{
    background: linear-gradient(
        47deg,
        #405DE6,
        #5851DB,
        #833AB4,
        #C13584,
        #E1306C,
        #fd1d1d
    );
    transition: all 500ms ease-in-out;
}

.instagram:hover{
    background: linear-gradient(
        45deg,
        #405DE6,
        #833AB4,
        #C13584,
        #fd1d1d,
        #E1306C,
        #5851DB
    );
}

.twitter{
    background-color: #00acee;
    transition: all 500ms ease-in-out;
}

.twitter:hover{
    background-color: #5cb9f1;
}

